<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<import resource="Database/spring-database.xml"/>
<import resource="Doktor/spring-doktor.xml"/>
<import resource="Doktor/spring-nobetcidoktor.xml"/>
<import resource="Hasta/spring-adres.xml"/>
<import resource="Hasta/spring-hasta.xml"/>
<import resource="Hemsire/spring-hemsire.xml"/>


</beans>
