<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.mustafazorbaz.Benzin" id="yakit" />
	<bean class="com.mustafazorbaz.Araba" id="araba">
		<constructor-arg ref="yakit" />
	</bean>
	<bean class="com.mustafazorbaz.Mazot" id="yakit2" />
	<bean class="com.mustafazorbaz.Kamyon" id="kamyon">
		<constructor-arg ref="yakit2" />
	</bean>
	 
</beans>
