<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="BeanAdres" class="com.mustafazorbaz.hasta.Adres">
		<property name="mahalle" value="Umur Bey"></property>
		<property name="sokak" value="1504"></property>
		<property name="no" value="34223"></property>
	</bean>
</beans>
