<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="BeanHasta" class="com.mustafazorbaz.hasta.Hasta">
		<property name="adi" value="Alihan"></property>
		<property name="soyadi" value="Yüklenmez"></property>
		<property name="adres" ref="BeanAdres"></property>
	</bean>
</beans>
