<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="BeanTelefon" class="com.mustafazorbaz.Telefon">
  <property name="batarya" ref="BeanBatarya"></property>
  <property name="marka" value="iphone 9S"></property>
  </bean>
  
  
  <bean id="BeanBatarya" class="com.mustafazorbaz.Batarya">
  	<property name="volt" value="5.6"></property>
  	<property name="wh" value="2.3"></property>
  </bean>
</beans>
